* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
  
body {
    margin: 0;
    font-family: cursive, sans-serif;
  }

.navbar {
      height: 50px;
      background-color: #41cece;
  }

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

/* Style the footer */
