.greeting {
    background-image: url('/images/lego art.jpg');
    background-position: center;
    height: 52em;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

h1 {
    color: white;
}

@viewport {
    width: 100vw; /*Sets the width of the actual viewport to the device width*/
  }