<form action="/signup" method="post">
    <label for="username">Username</label>
        <input type="username" name="user[user_name]" placeholder="user_name"><br> 
    <label for="email">Email</label>  
        <input type="email" name="user[email]" placeholder="email"><br>
    <label for="password">Password</label>
        <input type="password" name="user[password]" placeholder="password"><br>
    <label for="password_confirm">Password Confirmation</label>
        <input type="password" name="user[password_confirmation]" placeholder="password confirmation"><br>
    <input type="submit" value="Create Account">
</form>