<div class="all-lessons-page"
style="margin: 0 auto;
width: 1000px;
padding: 20px;">
    <h1 style="text-align: center; font-family: 'Patrick Hand', cursive;">All lessons</h1><br>

<div class="list-group">
    <h6>**Click on the title to edit further</h3> 
    <% @lessons.each do |lesson| %>
        <a href="/lessons/<%= lesson.id %>" class="list-group-item list-group-item-action active" aria-current="true">
            Lesson Title: <%= lesson.title %></a>
        <a href="#" class="list-group-item list-group-item-action">Lesson Topic: <%= lesson.topic %></a>
        <a href="#" class="list-group-item list-group-item-action">Lesson Content: <%= lesson.content %></a>
    <% end %><br>

    <button type="button" class="btn btn-warning">
        <a href="/lessons/new" style="text-decoration: none; color: black;">Create a lesson</button><br>
</div>

