<form action="/lessons/new" method="POST" class="px-4 py-3">
    <div class="mb-3">
      <label for="title" class="form-label">Lesson Title</label><br>
        <input type="text" name="lessons[title]" placeholder="title">
    </div>
    <div class="mb-3">
      <label for="topic" class="form-label">Topic</label><br>
        <input type="text" name="lessons[topic]" placeholder="topic">
    </div>
     <label for="content" class="form-label">Content</label><br>
        <input type="text" name="lessons[content]" placeholder="content">
    </div><br><br>
    <input type="submit" name="submit" class="btn btn-primary" value="Create Lesson">
</form>