<form action="/new" method="POST">
    <input type="text" name="lessons[title]" placeholder="title"><br>
    <textarea name="lessons[content]" placeholder="content"></textarea><br>
    <input type="submit" value="Create Lesson">
</form>