<form action="/lesson" method="POST">
    <input type="text" name="lesson[title]" placeholder="title"><br>
    <input type="text" name="lesson[lesson_num]" placeholder="lesson_num"><br>
    <textarea name="lesson[content]" placeholder="content"></textarea><br>
    <input type="submit" value="Create Lesson">
</form>