<form action="/lessons/new" method="POST" class="px-4 py-3">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="lessons[title]">
    <label for="floatingInput">Lesson Title</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="lessons[topic]">
    <label for="floatingInput">Topic</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" name="lessons[content]">
    <label for="content" class="form-label">Content</label>
  </div>
  <div style="padding-top: 20px; padding-bottom: 10px;">
    <button type="submit" class="btn btn-primary">Create Lesson</button>
  </div>
</form>