<link href="stylesheets/search.css" rel="stylesheet" type="text/css">

<div class="container-fluid-search">

  <div class="greeting" style="padding-top: 490px; padding-left: 100px;">
    <h1 style="font-size: 6em; color: white; font-weight: bold;">Welcome</h1><br>
    <p style="font-size: 2em; color: white; font-weight: bold;">As you begin or continue your studies, let's start building what you learn into lessons</p>
  </div>

</div>
